<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>{{book.title}}</title>
	<style type="text/css">
		.loop{display: inline-block}
	</style>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$(".loop").each(function(i, obj){
				content = $(this).html();
				for (var j = 1; j < $(this).attr("times"); j++)
					$(this).html($(this).html() +" "+ content);
			})	
		});
	</script>
</head>
<body>
	<header>
		<a href="{% url 'dashboard' %}">Home</a>
		<a href="{% url 'logout' %}">Logout</a>
	
	</header>
	
	<h1>{{book.title}}</h1>
	<h3>Author: {{book.author.name}}</h3>
	
	<h2>Reviews:</h2>
	
	
	{% for review in reviews %}
			<div class="review">
			<div class="rating">Rating: 
			
			{{review.rating}}
			{% load static %}
			<div class="loop star" times="{{review.rating}}"><img src="{% static 'review_app/small_star.gif' %}" alt=""/></div>
			
			</div>
			<a href="{% url 'show_user' id=review.user.id %}">{{review.user.alias}}</a> says: {{review.content}}
			<p>Posted on: {{review.created_at}}</p>
			
			{% if review.user.id == request.session.user_id %}
				<a href="{% url 'destroy_review' id=review.id %}">Delete this review</a>
			{%endif%}
			
		</div>
	{%endfor%}
	<hr/>
	{% if messages %}
		<ul>{% for message in messages %}
				
					<li class="error">{{message}}</li>
				
			{%endfor%}
		</ul>
	{%endif%}
	<h3>Add a review:</h3>
	<form action="{% url 'create_review' %}" method="POST">
		{% csrf_token %}
		<textarea name="content" id="content" cols="30" rows="10"></textarea>
		<h3>Rating: 
			<select name="rating" id="rating">
				<option value="5">5</option>
				<option value="4">4</option>
				<option value="3">3</option>
				<option value="2">2</option>
				<option value="1">1</option>
			
			
			
			</select>
			
		<input type="hidden" name="book_id" value="{{book.id}}"/>
			Stars
		</h3>
	<button type="submit">Submit</button>
	
	</form>
	
</body>
</html>